.navbar-nav .nav-link.active {
  font-weight: bold;
  text-decoration: underline;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.card-header {
  padding: 1rem;
}

.card-body {
  padding: 1.5rem;
}
